body{
	margin-top: 2%;
	background-color: rgb(234,232,231);
	font-family: 'Roboto', sans-serif;
}


h1{
	margin-top: 0px;
	padding-top: 90%;
	margin-bottom: 0px;
}

h3{
	font-size: 18px;
}

.center{
	text-align: center;
}

.uppercase{
	text-transform: uppercase;
}

.me{
	background-color: #5DA4D9;
	margin-right: 2%;
	padding: 0px;
	color: white;
}


.me-image{
	background-image: url('profile.jpg');
	background-size: cover;
	max-width: 100%;	
}

.me-description{
	padding: 10px;
}

.glyphicon{
	font-size: 20px;
	margin-left: 15px;
}

.glyphicon-me{
	margin-left: 40px;
}

.description{
	/*background-color: #FFFFFF;*/
	color: #767270;
}

.description-title{
	font-size: 22pt;
	font-weight: 500;
	/*text-transform: uppercase;*/
}

.description-title span{
	margin-top: 20px;
	font-size: 30px;
	font-weight: 500;
}

.description-item{
	margin-bottom: 20px;
	background-color: #FFFFFF;
	padding: 20px;
}
.description-text{
	font-size: 10pt;
	font-weight: 300;
	line-height: 17pt;
}

.row-item{
	border-bottom: 1px solid #bdbdbd;
}


.inprogress{
	font-style: oblique;
}

.cafe{
	color: #434140;
	font-weight: bold;
}

.line{
	border-bottom: 1px solid #4783c2;
}

.mr0{
	margin-right: 0px;
}
.ml0{
	margin-left: 0px;
}
.pr0{
	padding-right: 0px;
}
.pl0{
	padding-left: 0px;
}

.mb0{
	margin-bottom: 0px
}

.mb20{
	margin-bottom: 20px
}

.descriptions{
	float: right;
}
.row-me{
	margin-right: 0px;
}

.list{
	padding-left: 0px;
	list-style-type: none;
}

.shadow{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.line-bottom{
	border-bottom: 1px solid #bdbdbd;
}

@media screen and (max-width: 950px) {
	.glyphicon{
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}
	.glyphicon-me{
		margin-left: 0px;
	}
	.me-description{
		border-bottom: 1px solid #4783c2;
	}

	.descriptions{
		float: inherit;
		text-align: center;
	}
	.row-me{
		margin-left: 0px;
		margin: 25px 0px;
	}
	.me{
		margin-right: 0px;
	}
	.line{
		border-bottom: none;
	}

 }